 *{
    margin: 1;
    padding: 1;
 }

 header,footer, 
 article,section,
 nav,figure{
    display: block;
 }

 body{
    
    font-size: 1em;
    color: #2b2121e4;
    background-color: rgba(202, 184, 200, 0.901);
    font-family:Arial 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetice, sans-serif;
 }
 
 h1, h2, h3{
   text-shadow: 0 1px 1px black;
 }

 h2{
   font-size: 2em;
   font-weight: normal;
   letter-spacing: 0.01em;
   text-transform: uppercase;
 }

 p{
  line-height: 1.5em;
  padding-bottom: 1em;
  padding-left: 1em;
 }

 h3{
   font-size: 1.5em;
   font-weight: normal;
   margin: 0 0 1em;  
 }
 
 
 a, a:visited{
   text-decoration: none;
 }


 nav{
   background: #f8f8f8;
   position: absolute;
   right: 0;
   top: 4em;
 }

 nav ul li{
   display: inline;
 }

 nav ul li a,
 nav ul li a:visited{
   color: #565656;
   display: block;
   float: left;
   font-size: 1.25em;
   font-weight: bold;
   margin: 5px 2px;
   padding: 7px 10px 4px;
   text-transform: uppercase;
 }

 nav ul li a:hover{
  text-decoration: none;
  background-color: rgb(231, 182, 242);
 }

 nav, article, nav ul li a, figure{
  -moz-border-radius:10px;
  -webkit-border-radius: 10px;
  border-radius:10px;
 }




 
